.clock {
	font-family: "Noto Sans Mono";
	border: 1px solid white;
	background-color: #26233a;
	color: white;
	padding: 1rem 3rem;
}

.date {
	font-size: 1rem;
	margin-top: -1rem;
}

.time {
	margin-top: -2rem;
	font-size: 5rem;
}
