{{if eq .chezmoi.os "darwin" }}
command = /opt/homebrew/bin/fish --login --interactive
{{- end}}

{{if eq .chezmoi.os "linux" }}
command = /usr/bin/fish
{{- end}}

font-family = Noto Sans Mono
font-style = "SemiCondensed"
font-size = 16
font-variation = wght=400
shell-integration = fish
theme = rose-pine
window-decoration = "none"
