{{if eq .chezmoi.os "darwin" }}
command = /opt/homebrew/bin/fish --login --interactive
{{- end}}

{{if eq .chezmoi.os "linux" }}
command = /usr/bin/fish
fullscreen = true
{{- end}}

font-family = Noto Sans Mono
font-style = "SemiCondensed"
font-size = 12
font-variation = wght=400
shell-integration = fish
theme = rose-pine
window-decoration = "none"
gtk-tabs-location = "hidden"
