themes {
    rose-pine {
        bg "#403d52"
        fg "#e0def4"
        red "#eb6f92"
        green "#31748f"
        blue "#9ccfd8"
        yellow "#f6c177"
        magenta "#c4a7e7"
        orange "#fe640b"
        cyan "#ebbcba"
        black "#26233a"
        white "#e0def4"
    }
}

layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:~/.local/share/chezscripts/zjstatus.wasm" {
            hide_frame_for_single_pane "true"

            format_left  "{mode}#[fg=white,bg=black,bold] {tabs}"
            format_right "{datetime}"
            format_space "#[bg=black]"

            mode_normal          "#[bg=blue] "
            mode_tmux            "#[bg=red] "
            mode_default_to_mode "tmux"

            tab_normal               "#[fg=fg,bg=black] {index} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_active               "#[fg=black,bg=cyan,bold,italic] {index} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_fullscreen_indicator "□ "
            tab_sync_indicator       "  "
            tab_floating_indicator   "󰉈 "

            datetime          "#[fg=white,bg=black] {format} "
            datetime_format   "%A, %d %b %Y %H:%M:%S"
            datetime_timezone "America/Toronto"
        }
    }
}
