if status is-interactive
end

export FZF_DEFAULT_COMMAND="rg --files --hidden --follow --glob '!.git'"
{{- if eq .chezmoi.os "darwin" }}
export BREW_HOME="{{- .brew_home }}"
export LDFLAGS="-L$BREW_HOME/opt/openssl@3/lib"
export CPPFLAGS="-I$BREW_HOME/opt/openssl@3/include"
export PKG_CONFIG_PATH="$BREW_HOME/opt/openssl@3/lib/pkgconfig"
export EDITOR="$BREW_HOME/bin/nvim"
export VISUAL="$BREW_HOME/bin/nvim"
{{- end }}
{{- if eq .work true }}
export REQUESTS_CA_BUNDLE="$HOME/Documents/certs.pem"
export SSL_CERT_FILE="$HOME/Documents/certs.pem"
export VAULT_CAPATH="$HOME/Documents/certs.pem"
export NODE_EXTRA_CA_CERTS="$HOME/Documents/certs.pem"
{{- end }}

export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"
export PATH="$HOME/.rye/shims:$PATH"
export PATH="$HOME/.moon/bin:$PATH"
export PATH="$HOME/.proto/bin:$PATH"
export PATH="$HOME/.proto/shims:$PATH"
{{- if eq .chezmoi.os "darwin" }}
export PATH="$BREW_HOME/opt/libpq/bin:$PATH"
export PATH="$BREW_HOME/bin:$PATH"
export PATH="$BREW_HOME/sbin:$PATH"
export PATH="/Users/ericmccarthy/Library/Application Support/JetBrains/Toolbox/scripts:$PATH"
export PATH="/Users/ericmccarthy/Library/Application Support/pypoetry/venv/bin:$PATH"
{{- end }}

alias vi="nvim"
alias vim="nvim"
alias ls="eza"
alias ga="git add"
alias gaa="git add -A"
alias gc="git commit"
alias gp="git push"
alias gs="git status"
alias c="cargo"
alias z="zellij"

# pnpm
set -gx PNPM_HOME "$HOME/.local/share/pnpm"
set -gx PATH "$PNPM_HOME" $PATH
# pnpm end

function cdp
    cd ~/projects/
end

{{- if eq .work true }}
function setproxy
    export {all,http,https,ftp}_proxy="http://oproxy.fg.rbc.com:8080"
    export {ALL,HTTP,HTTPS,FTP}_PROXY="http://oproxy.fg.rbc.com:8080"
    export NO_PROXY="127.0.0.*,172.*,192.168.*,*.fg.rbc.com,*.devfg.rbc.com,*.saifg.rbc.com,localhost"
    export no_proxy="$NO_PROXY"
end

function unsetproxy
    set -e {all,http,https,ftp}_proxy
    set -e {ALL,HTTP,HTTPS,FTP}_PROXY
end

setproxy
{{- end }}
