if status is-interactive
end

export FZF_DEFAULT_COMMAND="rg --files --hidden --follow --glob '!.git'"

{{- if eq .chezmoi.os "darwin" }}
export LDFLAGS="-L/opt/homebrew/opt/openssl@3/lib"
export CPPFLAGS="-I/opt/homebrew/opt/openssl@3/include"
export PKG_CONFIG_PATH="/opt/homebrew/opt/openssl@3/lib/pkgconfig"
export EDITOR="/opt/homebrew/bin/nvim"
export VISUAL="/opt/homebrew/bin/nvim"
{{- end }}

alias vi="nvim"
alias vim="nvim"
alias ls="exa"
alias ga="git add"
alias gaa="git add -A"
alias gc="git commit"
alias gp="git push"
alias gs="git status"
alias c="cargo"
alias z="zellij"


export PATH="$HOME/.local/bin:$PATH"
export PATH="$PATH:$HOME/.cargo/bin"
export PATH="$PATH:$HOME/.rye/shims"
export PATH="$HOME/.moon/bin:$PATH"
export PATH="$HOME/.proto/bin:$PATH"

{{- if eq .chezmoi.os "darwin" }}
export PATH="/opt/homebrew/opt/libpq/bin:$PATH"
export PATH="$PATH:/opt/homebrew/bin"
export PATH="$PATH:/Users/ericmccarthy/Library/Application Support/JetBrains/Toolbox/scripts"
export PATH="$PATH:/Users/ericmccarthy/Library/Application Support/pypoetry/venv/bin"
{{- end }}

# pnpm
set -gx PNPM_HOME "~/.local/share/pnpm"
set -gx PATH "$PNPM_HOME" $PATH
# pnpm end

function cdp
    cd ~/projects/
end
