general.import = ["~/.config/alacritty/rose-pine.toml"]

[font]
size = 17.0

[font.bold]
family = "Noto Sans Mono"
style = "SemiCondensed Bold"

[font.italic]
family = "Noto Sans Mono"
style = "SemiCondensed Light"

[font.normal]
family = "Noto Sans Mono"
style = "SemiCondensed Light"

{{if eq .chezmoi.os "darwin" }}
[terminal.shell]
program = "{{- .brew_home }}/bin/fish"
{{- end}}

{{if eq .chezmoi.os "linux" }}
[terminal.shell]
program = "fish"
{{- end}}

[window]
decorations = "none"
startup_mode = "Maximized"
