general.import = ["~/.config/alacritty/rose-pine.toml"]

[font]
size = 16.0

[font.bold]
family = "CommitMono"
style = "Bold"

[font.italic]
family = "CommitMono"
style = "Italic"

[font.normal]
family = "CommitMono"
style = "Regular"

{{if eq .chezmoi.os "darwin" }}
[terminal.shell]
program = "{{- .brew_home }}/bin/fish"
{{- end}}

{{if eq .chezmoi.os "linux" }}
[terminal.shell]
program = "fish"
{{- end}}

[window]
decorations = "none"
startup_mode = "Maximized"
